header {
  overflow: hidden;
}

.navbar .navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand:hover {
  transform: scale(1.1);
  border-radius: 10px;
  background-color: #000;
  padding: 5px;
}

.navbar-brand:active {
  transform: scale(0.95);
  transition: transform 0.1s;
}

.navbar-image {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #00ffff;
}

.navbar-icon {
  position: absolute;
  left: 27%;
  top: 25%;
  color: #343a40;
}

.navbar-title {
  font-family: "Segoe UI", sans-serif;
  font-size: 2rem;
  color: #00ffff;
}

.banner {
  position: relative;
  z-index: -1;
  margin: -5px;
  height: 360px;
  background: #dddddd center center
    url("https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5720/restaurants-list-cover.jpg");
  background-size: cover;
  filter: blur(1px);
}

.header-text {
  text-align: center;
  color: white;
  font-family: "Nunito Sans", Georgia, sans-serif;
}

.h-text-one {
  position: absolute;
  top: 15%;
  right: 3%;
  padding: 1%;
  background: -webkit-linear-gradient(
    -135deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.5) 35%,
    rgba(38, 38, 38, 0.5) 55%,
    rgba(79, 79, 79, 0.5) 75%,
    rgba(79, 79, 79, 0.3) 100%
  );
  background: -moz-linear-gradient(
    -135deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.5) 35%,
    rgba(38, 38, 38, 0.5) 55%,
    rgba(79, 79, 79, 0.5) 75%,
    rgba(79, 79, 79, 0.3) 100%
  );
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}
.h-text-two {
  position: absolute;
  top: 38%;
  left: 7%;
  padding: 1%;
  background: -webkit-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.5) 35%,
    rgba(38, 38, 38, 0.5) 55%,
    rgba(79, 79, 79, 0.5) 75%,
    rgba(79, 79, 79, 0.3) 100%
  );
  background: -moz-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.5) 35%,
    rgba(38, 38, 38, 0.5) 55%,
    rgba(79, 79, 79, 0.5) 75%,
    rgba(79, 79, 79, 0.3) 100%
  );
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

.ratings {
  position: relative;
  top: -220px;
  left: 42%;
  align-self: center;
  vertical-align: middle;
  display: inline-block;
  color: rgba(230, 230, 230, 0.9);
  /* overflow: hidden; */
  font-size: 32px; /*調整字體大小可放大縮小星星*/
  text-shadow: -7px 7px 2px black;
}

.full-star {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: yellow; /*前景星星顏色*/
}

.search-container {
  display: inline-flex;
  flex: 1 1 100%;
  border-radius: 25px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.9), 3px 6px 10px rgba(0, 0, 0, 0.7);
}

.search-icon {
  padding: 0.7rem 0.5rem 0.5rem 0.5rem;
}

.search-box {
  border: 0;
  padding: 0.5rem 0.5rem 0.5rem 0;
  flex: 1;
}

.form-control::placeholder {
  color: #aaaaaa;
  font-size: 0.8rem;
}

.btn-major {
  background-color: #9b4b4b;
  color: white;
  border-radius: 25px;
}

.btn-major:hover {
  color: #842b00;
  background-color: #d9b3b3;
  transform: scale(1.05);
  font-weight: bold;
}

.btn-major:active {
  transform: scale(0.96);
  transition: transform 0.1s;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);
}

.rcard:hover {
  transform: scale(1.03);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}

.rcard:active {
  transform: scale(0.98);
  transition: transform 0.1s;
}

.rcard img {
  height: 180px;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Trebuchet MS", "Lucida Sans", sans-serif;
  font-size: 1.1rem;
  color: #000;
}

.restaurant-category {
  color: #666666;
  font-size: 0.9rem;
}

.restaurant-show-title {
  position: relative;
  top: -100px;
  text-align: center;
  color: white;
  font-size: 3rem;
  text-shadow: 0.1rem 0.1rem 0.3rem black, -0.1rem -0.1rem 0.5rem black;
  font-weight: bold;
}

.link-title {
  color: white;
  font-size: 3rem;
  text-shadow: 0.1rem 0.1rem 0.3rem black, -0.1rem -0.1rem 0.5rem black;
  font-weight: bold;
}

.badge {
  font-size: 0.9rem;
}

.alertText {
  margin: 0 auto;
  font-family: "Trebuchet MS", "Lucida Sans", sans-serif;
  font-size: 1.5rem;
}

.sub-t {
  font-size: 1.3rem;
}

.required-text {
  font-weight: normal;
  color: red;
}

.place-arrow:hover,
.btn-motion:hover {
  transform: scale(1.1);
}

.place-arrow:active,
.btn-motion:active {
  transform: scale(0.96);
  transition: transform 0.2s;
}

.show-des {
  position: relative;
  font-size: 1.2rem;
  margin-top: 1.5rem;
  background-color: rgba(255, 237, 219, 0.7);
  border-radius: 5px;
}

.quote-left {
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
}

.quote-right {
  position: absolute;
  bottom: -0.5rem;
  right: -0.5rem;
}

.res-image {
  box-shadow: 3px 3px 1px rgba(0, 0, 255, 1), -3px -3px 1px rgba(255, 0, 0, 1),
    5px 5px rgba(0, 0, 255, 0.5), -5px -5px rgba(255, 0, 0, 0.5),
    7px 7px 5px rgba(0, 0, 255, 0.3), -7px -7px 5px rgba(255, 0, 0, 0.3);
}

@media screen and (max-width: 992px) {
  .card img {
    height: 115px;
  }
  .h-text-one {
    font-size: 28px;
  }
  .h-text-two {
    font-size: 28px;
  }
}

@media screen and (max-width: 768px) {
  .restaurant-show-title {
    font-size: 2rem;
  }
  .h-text-one {
    font-size: 24px;
  }
  .h-text-two {
    font-size: 24px;
  }
}

@media screen and (max-width: 575px) {
  .card img {
    height: auto;
  }
  .h-text-one {
    font-size: 20px;
    top: 23%;
  }
  .h-text-two {
    font-size: 20px;
    top: 43%;
  }
}
